body {
  margin: 0;
  font-family: 'Lato', sans-serif; }

.flex {
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex; }

.flexable_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flexable_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flexable_row_around {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

aside {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: #fff;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  cursor: pointer;
  z-index: 999999;
  display: none; }

::-webkit-scrollbar {
  width: 0px; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #a10532; }

.footer > div {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

/* strat global roles */
.main_header {
  position: relative;
  height: 100vh;
  color: #fff; }
  .main_header .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }
  .main_header .nav_bar img:first-of-type {
    width: 280px; }
    @media (max-width: 400px) {
      .main_header .nav_bar img:first-of-type {
        width: 230px; } }
  .main_header div h1 {
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .main_header div h1 {
        font-size: 2em; } }
    @media (max-width: 450px) {
      .main_header div h1 {
        font-size: 1.5em; } }
  .main_header div p {
    width: 75%;
    margin: 30px auto;
    font-size: 1.3em;
    line-height: 2; }
    @media (max-width: 767px) {
      .main_header div p {
        width: 90%; } }
    @media (max-width: 450px) {
      .main_header div p {
        font-size: 1em; } }

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 200px; }
  .footer .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .footer > div {
    height: 100%;
    width: 80px;
    min-height: 200px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .footer > div img {
      max-width: 80%; }
    .footer > div:hover {
      width: 120px; }
    @media (max-width: 767px) {
      .footer > div {
        width: 70px; } }
    @media (max-width: 580px) {
      .footer > div {
        width: 50px;
        height: 120px !important; }
        .footer > div img {
          width: 30px;
          height: 40px;
          object-fit: contain; }
        .footer > div:hover {
          width: 50px; } }
  .footer > div:first-of-type {
    background-color: #3b5999; }
  .footer > div:nth-of-type(2) {
    background-color: #0077B5; }
  .footer > div:nth-of-type(3) {
    background-color: #55acee; }
  .footer > div:nth-of-type(4) {
    background-color: #cd201f; }
  .footer > div:nth-of-type(5) {
    background-color: #dd4b39; }
  .footer > div:nth-of-type(6) {
    background-color: #ea4c89; }
  .footer > div:nth-of-type(7) {
    background-color: #e4405f; }

.main_descriptions .row {
  padding-left: 0%; }
  .main_descriptions .row div {
    justify-content: flex-start;
    align-items: flex-start; }
  .main_descriptions .row h3 {
    margin-bottom: 0px !important;
    padding: 0px !important;
    text-align: left !important; }
  .main_descriptions .row h3 + p {
    width: 50%; }
  .main_descriptions .row ul {
    color: #20658a;
    padding-top: 15%; }
    .main_descriptions .row ul li {
      margin-bottom: 10px; }
      .main_descriptions .row ul li::before {
        content: "-"; }
  .main_descriptions .row .padding ul {
    padding-top: 30%; }
  .main_descriptions .row h3 + ul {
    margin-top: 20px;
    line-height: 2; }
  .main_descriptions .row h3 + div {
    margin-top: 30px; }
    .main_descriptions .row h3 + div img {
      width: 170px;
      margin-bottom: 20px; }
      .main_descriptions .row h3 + div img:last-of-type {
        margin-left: 10px; }
  .main_descriptions .row:last-of-type div p {
    padding-top: 13%; }
@media (max-width: 400px) {
  .main_descriptions .images {
    flex-direction: column; } }

.contact {
  padding: 100px 0; }
  .contact h1 {
    font-family: 'Lato', sans-serif; }
    .contact h1:after {
      content: "";
      width: 0px; }
    @media (max-width: 400px) {
      .contact h1 {
        font-size: 30px; } }
  .contact span {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-position: relative;
    display: block;
    padding-left: 20%; }
    .contact span::after {
      width: 60px;
      left: 58%;
      position: absolute;
      bottom: -10px;
      height: 1px;
      content: "";
      background: #ffbf6b; }

.white_space {
  position: relative;
  height: 200px; }
  .white_space .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }

/*# sourceMappingURL=Services.css.map */
